@font-face {
    font-family: 'Pervye_Book';
    src: url('fonts/Pervye_Book.otf') format('opentype');
}
@font-face {
    font-family: 'YPervye_Extended-Bold';
     src: url('fonts/Pervye_Extended-Bold.otf') format('opentype'); 
}



@media (min-width:1279px) {

body{
    margin: 0;
    padding: 0;
    background-image: url("Image/background_all_1.png");
    height: 125vh;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'YPervye_Extended-Bold', sans-serif;
    color: #fff;
    font-size: 3vw;
}

h2{
    font-family: 'YPervye_Extended-Bold', sans-serif;
    color: #0B2359;
    font-size: 5vh;
    padding-top: 1vh;
    padding-left: 10vh;
}



#title{
    margin: 3vh;
    display: flex;
    align-items: center;
    text-align: center;
}

#title img{
    margin: 15px;
    width: 12%;
    padding-right: 100px;
}


#button_record{
    align-items: center;
    
}

#button_record img{
    width: 30vw;
}

#button_record a {
    font-family: 'Pervye_Book', sans-serif; 
    text-decoration: none;
    display: block; 
    color: white; 
    align-items: center;
    text-align: center;
    transition: transform 1s;
}

#button_record a:hover {
    transform: scale(1.1);
}


#anotation{
    font-family: 'Pervye_Book', sans-serif;
    color: #0B2359;
    font-size: 5vh;
    padding-left: 5vh;
    padding-right: 4vh;
}

#download a{
    font-family: 'Pervye_Book', sans-serif; 
    display: block; 
    color: white; 
    align-items: left;
    text-align: left;
   font-size: 3vh;
   padding-left: 5vh;
}

#download p{
    padding-bottom: 1em;
    font-family: 'Pervye_Book', sans-serif; 
    color: white; 
    text-align: left;
   font-size: 3vh;
   padding-left: 5vh;
}

}


@media (max-width: 1280px) {
    body{
        margin: 0;
        padding: 0;
        background-image: url("Image/background_all_1.png");
        height: 125vh;
        overflow-x: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    h1{
        font-family: 'YPervye_Extended-Bold', sans-serif;
        color: #fff;
        font-size: 5vw;
    }
    
    h2{
        font-family: 'YPervye_Extended-Bold', sans-serif;
        color: #0B2359;
        font-size: 3vh;
        padding-top: 1vh;
        padding-left: 5vh;
    }
    
    
    
    #title{
        margin: 1vh;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    #title img{
        margin: 5px;
        width: 25%;
       
    }
    
    
    #button_record{
        margin-top: 3vh;
        align-items: center;
        
    }
    
    #button_record img{
        width: 70vw;
    }
    
    #button_record a {
        font-family: 'Pervye_Book', sans-serif; 
        text-decoration: none;
        display: block; 
        color: white; 
        align-items: center;
        text-align: center;
        transition: transform 1s;
    }
    
    #button_record a:hover {
        transform: scale(1.1);
    }
    
    
    #anotation{
        font-family: 'Pervye_Book', sans-serif;
        color: #0B2359;
        font-size: 3vh;
        padding-left: 3vh;
        padding-right: 2vh;
    }
    
    #download a{
        font-family: 'Pervye_Book', sans-serif; 
        display: block; 
        color: white; 
        align-items: left;
        text-align: left;
       font-size: 3vh;
       padding-left: 5vh;
    }
    
    #download p{
        margin-bottom: 1em;
        font-family: 'Pervye_Book', sans-serif; 
        color: white; 
        text-align: left;
       font-size: 3vh;
       padding-left: 5vh;
    }

}
